<section class="w-section mobile-wrapper">
  <div class="page-content" id="main-stack" data-scroll="0" data-splash="2000" data-redirect="#/login">
    <div class="w-nav navbar"></div>
    <div class="body padding">
      <div class="splash-logo"></div>
      <div class="bottom-section padding text-centered">
        <h4>Seja Bem Vindo ao</h4>
        <h4 style="color: #1c9aa9;">Conecta App!</h4>
        <p class="welcome-splash-text">Carregando base de dados.
          <br>Aguarde por favor.</p>
        <div class="separator-big"></div>
        <div class="link-upper">2016 ® - Você nunca usou nada igual</div>
        <div class="separator-bottom"></div>
      </div>
    </div>
  </div>
  <div class="page-content loading-mask" id="new-stack">
    <div class="loading-icon">
      <div class="navbar-button-icon icon ion-load-d"></div>
    </div>
  </div>
  <div class="shadow-layer"></div>
</section>
