<section class="w-section mobile-wrapper">
    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
              <nav class="w-nav-menu nav-menu" role="navigation">
                <div ng-include="'partials/frames/menu.html'">
                </div>
              </nav>
              <div class="wrapper-mask" data-ix="menu-mask"></div>
              <div class="navbar-title">Olá, Você está Conectado!</div>
              <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
                <div class="navbar-button-icon home-icon">
                  <div class="bar-home-icon"></div>
                  <div class="bar-home-icon"></div>
                  <div class="bar-home-icon"></div>
                </div>
              </div>
          </div>
      </div>
      <div class="body padding" >
        <div style="background:#37b9cb;width: 100%;height: 190px;padding-top: 25px;padding-bottom:25px;">
            <div style=" height: 140px;float: left;width: 45%;background:white">
              <img src="images/default_avatar.png" style="padding:15px">
            </div>
            <div style=" height: 140px;float: right;width: 55%;background:white">
                <span class="message-title" style="    width: 100%;color:#999999;padding-top: 12px;"><b style="text-transform: capitalize;">{{retorno}}</b></span>
                <span class="message-title" style="    width: 100%;color:#999999;"><b>65 Pushs</b> enviados</span>
                <span class="message-title" style="    width: 100%;color:#999999;">Grupos: <b>10</b></span>
                <span class="message-title" style="    width: 100%;color:#999999;">Mogi das Cruzes - SP</span>
            </div>
        </div>
        <div class="navbar-title" style="width: 85%;background:#f5f5f5">Últimas Notificações</div>
       <div class="body" style="margin-top: -60px">
        <div class="separator-button"></div>
        <div class="separator-button"></div>
        <div class="separator-button"></div>
        <ul class="list">
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
          <li class="list-item" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="#">
              <div class="icon-list">
                <div class="icon ion-ios-checkmark-empty"></div>
              </div>
              <div class="title-list">Mensagem</div>
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
    <div class="shadow-layer"></div>
</section>
