<section class="w-section mobile-wrapper">
  <div class="page-content" id="main-stack">
    <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
      <div class="w-container" >
        <nav class="w-nav-menu nav-menu" role="navigation">
           <div ng-include="'partials/frames/menu.html'">
           </div>
        </nav>
        <div class="wrapper-mask" data-ix="menu-mask"></div>
        <div class="navbar-title">Últimas Notificações Recebidas</div>
        <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
          <div class="navbar-button-icon home-icon">
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="separator-button"></div>
      <div class="separator-button"></div>
      <ul class="list">
        <li class="list-item grey highlighted category_1" data-ix="list-item">
          <a class="w-clearfix w-inline-block highlighted" href="#">
            <div class="icon-list highlighted">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Categoria 1</div>
          </a>
        </li>
        <li class="list-item display-not msg_1" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
        <li class="list-item grey highlighted category_2" data-ix="list-item">
          <a class="w-clearfix w-inline-block highlighted" href="#">
            <div class="icon-list highlighted">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Categoria 2</div>
          </a>
        </li>
        <li class="list-item display-not msg_2" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
        <li class="list-item display-not" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
        <li class="list-item display-not" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
        <li class="list-item grey highlighted category_3" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list highlighted">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list highlighted">Categoria 3</div>
          </a>
        </li>
        <li class="list-item display-not msg_3" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
         <li class="list-item display-not msg_3_full display-not notify_full_div" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="title-list notify_name">Nome<i class="fa fa-angle-up icon_up" id="icon_up" aria-hidden="true"></i></div>
            <div class="title-list desc_notify"><span>Descrição bla bla bla bla bla bla bla bla bla bla bla lba bla bla bla bla bla bla bla  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <!-- Limitar 287 caracteres-->
            </span>
            </div>
            <div class="title-list notify_bar">
                <i class="fa fa-floppy-o icon_bar_save" title="Arquivar" aria-hidden="true"></i>
                <i class="fa fa-share-square-o icon_bar"  title="Reenviar Push" aria-hidden="true"></i>
                <i class="fa fa-commenting-o icon_bar"  title="Enviar mensagem" aria-hidden="true"></i>
                <i class="fa fa-thumbs-o-down icon_bar"  title="Não gostei do Push" aria-hidden="true"></i>
                <i class="fa fa-hand-peace-o icon_bar"  title="Gostei do Push" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <li class="list-item display-not" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
        <li class="list-item display-not" data-ix="list-item">
          <a class="w-clearfix w-inline-block" href="#">
            <div class="icon-list">
              <div class="icon ion-ios-checkmark-empty"></div>
            </div>
            <div class="title-list">Mensagem</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content loading-mask" id="new-stack">
    <div class="loading-icon">
      <div class="navbar-button-icon icon ion-load-d"></div>
    </div>
  </div>
  <div class="shadow-layer"></div>
</section>
