<section class="w-section mobile-wrapper">
  <div class="page-content" id="main-stack">
    <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-no-scroll="1" data-easing="ease-out-quint">
      <div class="w-container">
        <nav class="w-nav-menu nav-menu" role="navigation">
         <div ng-include="'partials/frames/menu.html'">
         </div>
        </nav>
        <div class="wrapper-mask" data-ix="menu-mask"></div>
        <div class="navbar-title">Configuração de Categorias</div>
        <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
          <div class="navbar-button-icon home-icon">
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="body padding">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" action="#">
          <div class="separator-fields"></div>
          <div class="separator-fields"></div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email" style="font-size:12px;color:#37b9cb">HABILITAR NOTIFICAÇÕES (SIM/NÃO)</label>
            </div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">ATIVAR TODAS AS NOTIFICAÇÕES</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">PROMOÇÕES</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">TRANSITO / ACIDENTES</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">PROBLEMAS EM GERAL</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">COMPRAS E VENDAS</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list">
            <div class="w-clearfix input-form one-line">
              <label class="label-form middle" for="email">BATE PAPO GERAL</label>
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <div class="checkbox-handle"></div>
                  <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                  <label class="w-form-label checkbox-label" for="checkbox"></label>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>
          <div class="row-input-list" style="margin-top:80px">
            <div class="w-clearfix input-form one-line" style="border-bottom:0px"
              <div class="w-clearfix radios-container">
                <div class="w-checkbox w-clearfix checkbox-field">
                  <button class="btn_save">Salvar</button>
                </div>
              </div>
            </div>
            <div class="separator-fields"></div>
          </div>

            <div class="separator-fields"></div>
          </div>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content loading-mask" id="new-stack">
    <div class="loading-icon">
      <div class="navbar-button-icon icon ion-load-d"></div>
    </div>
  </div>
  <div class="shadow-layer"></div>
</section>
