<section class="w-section mobile-wrapper">
  <div class="page-content" id="main-stack">
    <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
      <div class="w-container"  >
        <nav class="w-nav-menu nav-menu" role="navigation">
         <div ng-include="partials/frames/menu.html'">
         </div>
        </nav>
        <div class="wrapper-mask" data-ix="menu-mask"></div>
        <div class="navbar-title"></div>
        <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
          <div class="navbar-button-icon home-icon">
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
            <div class="bar-home-icon"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="body padding">
      <div class="bottom-section padding text-centered">
        <div class="logo-login smaller"></div>
        <div class="text-centered">
          <h5>Conecta App.</h5>
        </div>
        <div class="version-text">Versão: 1.0</div>
        <p>Desenvolvido por<br><b style="color:#37b9cb"> Renan Silva <br>Marcelo Bravin<br>Tiago Suleiman</b><br>
          <br>Conecta App. Te ajuda a se conectar com milhares de pessoas de modo automatico através da tecnologia Push. Disponível para IOS, Android e web Mobile.</p><br>
          <p>Registrado - Todos os diretos reservados ®</p>

        <!-- <div class="separator-button"></div><a class="action-button grey" href="#">Sugestões ou Críticas - Clique aqui</a> -->
        <div class="separator-button"></div>
        <div class="link-upper">www.conecta-project.com.br</div>
        <div class="separator-bottom"></div>
      </div>
    </div>
  </div>
  <div class="page-content loading-mask" id="new-stack">
    <div class="loading-icon">
      <div class="navbar-button-icon icon ion-load-d"></div>
    </div>
  </div>
  <div class="shadow-layer"></div>
</section>
