<section class="w-section mobile-wrapper">
<div class="page-content" id="main-stack">
  <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
    <div class="w-container" ng-controller="ConectaCtr">
      <nav class="w-nav-menu nav-menu" role="navigation">
        <div ng-include="'menu.html'">
        </div>
      </nav>
      <div class="wrapper-mask" data-ix="menu-mask"></div>
      <div class="navbar-title">Configure sua conta</div>
      <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
        <div class="navbar-button-icon home-icon">
          <div class="bar-home-icon"></div>
          <div class="bar-home-icon"></div>
          <div class="bar-home-icon"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="w-tabs" data-duration-in="400" data-duration-out="400" data-easing="ease-out-quint">
      <div class="w-tab-menu top-buttons">
        <a class="w-tab-link w--current w-inline-block toolbar-top-button" data-w-tab="Tab 1">
          <div>ACTIVE</div>
        </a>
        <a class="w-tab-link w-inline-block toolbar-top-button" data-w-tab="Tab 2">
          <div>ARCHIVED</div>
        </a>
      </div>
      <div class="w-tab-content tabs-content">
        <div class="w-tab-pane w--tab-active w-clearfix tab-pane" data-w-tab="Tab 1">
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image"></div>
              <div class="group-title">
                <div class="title-text">Food</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg1"></div>
              <div class="group-title">
                <div class="title-text">Architecture</div>
              </div>
            </a>
          </div>
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg2"></div>
              <div class="group-title">
                <div class="title-text">Travel</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg3"></div>
              <div class="group-title">
                <div class="title-text">Work</div>
              </div>
            </a>
          </div>
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg4"></div>
              <div class="group-title">
                <div class="title-text">Economy</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg5"></div>
              <div class="group-title">
                <div class="title-text">Fitness</div>
              </div>
            </a>
          </div>
        </div>
        <div class="w-tab-pane tab-pane" data-w-tab="Tab 2">
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg4"></div>
              <div class="group-title">
                <div class="title-text">Economy</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg5"></div>
              <div class="group-title">
                <div class="title-text">Fitness</div>
              </div>
            </a>
          </div>
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg2"></div>
              <div class="group-title">
                <div class="title-text">Travel</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg3"></div>
              <div class="group-title">
                <div class="title-text">Work</div>
              </div>
            </a>
          </div>
          <div class="group-block">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image"></div>
              <div class="group-title">
                <div class="title-text">Food</div>
              </div>
            </a>
          </div>
          <div class="group-block last">
            <a class="w-inline-block" href="news.html" data-load="1">
              <div class="group-image bg1"></div>
              <div class="group-title">
                <div class="title-text">Architecture</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-content loading-mask" id="new-stack">
  <div class="loading-icon">
    <div class="navbar-button-icon icon ion-load-d"></div>
  </div>
</div>
<div class="shadow-layer"></div>
</section>

